rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /tracks/{trackId} {
      allow read: if true;
      allow write: if false;
    }

    match /videos/{videoId} {
      allow read: if true;
      allow write: if false;
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if false;
    }

    match /credits/{creditId} {
      allow read: if true;
      allow write: if false;
    }

    match /mailing_list/{email} {
      allow create: if true;
      allow read, update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
